<div class="class-box" data-class="{{name}}" data-days="{{days}}" data-from="{{fromTime}}" data-to="{{toTime}}">
    <button class="remove-class-btn" aria-label="Remove Class">&times;</button>
    <div class="class-name">{{name}}</div>
    <div class="class-subject">{{subject}}</div>
    <div class="class-time" id="from">From: {{fromTime}}</div>
    <div class="class-time" id="to">To: {{toTime}}</div>
</div>
